@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

li {
    padding: 1.65rem;
}

li:hover {
    background-color: #dd5347;
}

header {
    background-color: #fafafa;
    box-shadow: 0 0 10px #00000031;
    width: 100%;
    height: 6rem;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header nav ul {
    font-family: 'Open Sans', sans-serif;
    list-style: none;
    display: flex;
    justify-content: end;
}

section h2 {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 4rem;
    margin-left: 4rem;
    padding: 15% 60% 4% 4%;
}

header img {
    height: 6rem;
}

header a {
    font-size: 2rem;
    padding: 1rem 1rem 1rem 1rem;
}

a {
    text-decoration: none;
}

main {
    background: url(../asset/home-hero.jpg) no-repeat center center / cover;
    width: 100vh 100%;
    height: 100vh;
}

/* button scroll */

.button_scroll {
    background-color: #dd5347;
    position: fixed;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    right: 30px;
    bottom: 30px;
    box-shadow: 0 10px 0 0 #00000015;
}

/* button first page */

body main section a {
    background-color: #dd5347;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    margin-left: 7%;
    padding: 2.5rem;
}

/* text top form */

div h3 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 2.1rem;
    font-weight: 100;
    margin: 20% 10% 2% 10%;
    padding: 0 27% 0 27%;
}

div h4 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 100;
    padding: 0 37% 0 37%;
}

/* form */

form {
    padding-right: 1rem;
}

legend {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.6rem;
    padding: 0.5rem;
}

input {
    font-family: 'Open Sans', sans-serif;
    margin: 1rem;
    padding: 0 0 0 0.5rem;
}

form input {
    background-color: #f7f5f5;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    padding: 12px;
    width: 100%;
    border: 1px;
    border-bottom: 1px solid;
}

label {
    font-family: 'Open Sans', sans-serif;
}

fieldset {
    width: 45%;
    margin: auto;
    margin-top: 3%;
    padding: 0 1% 0 1%;
    border-radius: 8px;
    border-color: rgba(0, 0, 0, 0.103);
}